@model BCBS.Models.SBFEmailViewModel

@{
    ViewBag.Title = "SBF";
    Layout = "~/Views/Shared/_BootLayout.cshtml";
}
<style type="text/css">
    td {
        border: 1px solid;
        height: 25px;
        border-collapse: collapse;
    }

    th {
        border: 1px solid;
    }

    table {
        width: 90%;
        border-collapse: collapse;
        text-align: center;
    }

    legend {
        border-bottom: 1px solid grey;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: bold;
    }

    .font-bold {
        font-weight: bold;
    }

    .font-20 {
        font-size: 20px;
    }

    .row {
        margin-left: 10px;
    }
</style>

<div class="row" style="margin-left: 10px;">
    <div style="margin-left: 45%;">
        <img src="~/Images/logo.png" />
        <h2>BCBS Acc Sys</h2>
    </div>
    <div class="row" style="margin-left: 10px;">
        <div class="col-lg-8">#Invoice : @Model.Invoice.InvoiceNumber</div>
        <div class="col-lg-8">Invoice Date : @Model.Invoice.InvoiceDate.ToString("MM-dd-yyyy")</div>
        <div class="col-lg-8">Prepared By : @Model.Invoice.PrepareBy</div>
        <div class="col-lg-8">Authorized By : @Model.Invoice.AuthorizedBy</div>
        <div class="col-lg-8">Division name : @Model.Invoice.Division</div>
    </div>
</div>
<div class="row" style="margin-left: 10px;">
    <legend style="border-bottom: 1px solid grey; margin-bottom: 10px; margin-top: 10px; font-weight: bold;">Billing Information</legend>
    <div class="row" style="clear: both; margin-left: 10px;">
        <div class="col-lg-8">
            Plan/Customer name:  @Model.Customer.Name
        </div>
        <div class="col-lg-8">
            Plan/Customer#:  @Model.Customer.ChargeCode
        </div>
        <div class="col-lg-8">
            Address:
        </div>

        <div class="col-lg-8">
            @Model.Customer.CustomerAddress,
        </div>
        <div class="col-lg-8">
            @Model.Customer.City @Model.Customer.State  @Model.Customer.PostalCode,
        </div>

        <div class="col-lg-8">
            Customer Contact Name:  @Model.Customer.FirstName @Model.Customer.LastName
        </div>
        <div class="col-lg-8">
            Telephone #:  @Model.Customer.Phone
        </div>
    </div>
</div>
<div class="row" style="margin-left: 10px;">
    @if (Model.ActivityList != null)
    {
        <div class="row" style="margin-left: 10px; margin-left: 10px;">
            <table style="width: 90%; border-collapse: collapse; text-align: center;">
                <tr>
                    <th style="border: 1px solid;">
                        @Html.DisplayName("Product/Service")
                    </th>
                    <th style="border: 1px solid;">
                        @Html.DisplayName("G/L Account")
                    </th>
                    <th style="border: 1px solid;">
                        @Html.DisplayName("Project")
                    </th>
                    <th style="border: 1px solid;">
                        @Html.DisplayName("FromDate")
                    </th>
                    <th style="border: 1px solid;">
                        @Html.DisplayName("EndDate")
                    </th>
                    <th style="border: 1px solid;">
                        @Html.DisplayName("Volume")
                    </th>
                    <th style="border: 1px solid;">
                        @Html.DisplayName("Amount")
                    </th>
                </tr>
                @foreach (var item in Model.ActivityList)
                {
                    <tr>
                        <td style="border: 1px solid; height: 25px; border-collapse: collapse;">
                            @if (item.FeesType == "Transaction")
                            {
                                @Html.Raw(item.ProjectName + " (" + item.RateVolume + " " + item.Service + " @ " + item.Rate.ToString("C") + " )")
                            }
                            else if (item.FeesType == "Hourly")
                            {
                                @Html.Raw(item.ProjectName + "-" + item.Service + " (" + item.RateVolume + " hours @ " + item.Rate.ToString("C") + " )")
                            }
                            else
                            {
                                @Html.Raw(item.ProjectName + "-" + item.Service)
                            }

                        </td>
                        <td style="border: 1px solid; height: 25px; border-collapse: collapse;">
                            @Html.DisplayFor(modelItem => item.GLAccount)
                        </td>
                        <td style="border: 1px solid; height: 25px; border-collapse: collapse;">
                            @Html.DisplayFor(modelItem => item.ProjectCode)
                        </td>
                        <td style="border: 1px solid; height: 25px; border-collapse: collapse;">
                            @Html.DisplayFor(modelItem => item.FromDate)
                        </td>
                        <td style="border: 1px solid; height: 25px; border-collapse: collapse;">
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td style="border: 1px solid; height: 25px; border-collapse: collapse;">
                            @Html.DisplayFor(modelItem => item.Volume)
                        </td>
                        <td style="border: 1px solid; height: 25px; border-collapse: collapse;">
                            @Html.Raw(item.Amount.ToString("C"))
                        </td>
                    </tr>
                }
            </table>
            <div class="font-bold font-20" style="float: right; margin-right: 10%; font-weight: bold; font-size: 20px;">Total Amount : @Model.Invoice.TotalAmount.ToString("C")</div>
        </div>
    }
</div>
<div class="row" style="margin-left: 10px;">
    <div class="row" style="clear: both; margin-left: 10px;">
        @if (Model.Invoice.IsDeffered == true)
        {
            <div class="col-lg-8">
                Deffered:  @Model.Invoice.IsDeffered
            </div>
            <div class="col-lg-8">
                Deffered Account:  @Model.Invoice.DefferedAccount
            </div>
        }
        <div class="col-lg-8">
            From Date:  @Model.Invoice.FromDate.ToString("MM-dd-yyyy")
        </div>
        <div class="col-lg-8">
            To Date:  @Model.Invoice.ToDate.ToString("MM-dd-yyyy")
        </div>
        <div class="col-lg-8">
            Special Instruction:<br />
            @Model.Invoice.SpecialInstuction
        </div>
        <div class="col-lg-8">
            Supporting Documents:<bt></bt>
            @Model.Invoice.SupportingDocuments
        </div>
    </div>
</div>

